<a href="https://colab.research.google.com/github/dhaniel6/notebook/blob/master/hamoye%20data%20internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**DATA ANALYSIS ON ELECTRICITY BILL**

In [28]:
#importing
from csv import reader
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
file = pd.read_csv('fuel_ferc1.csv', delimiter = ',')

In [49]:
file

                     record_id  ...  fuel_cost_per_mmbtu
0        f1_fuel_1994_12_1_0_7  ...                1.121
1       f1_fuel_1994_12_1_0_10  ...                1.120
2        f1_fuel_1994_12_2_0_1  ...                1.650
3        f1_fuel_1994_12_2_0_7  ...                1.970
4       f1_fuel_1994_12_2_0_10  ...                2.570
...                        ...  ...                  ...
29518  f1_fuel_2018_12_12_0_13  ...                9.030
29519   f1_fuel_2018_12_12_1_1  ...                6.950
29520  f1_fuel_2018_12_12_1_10  ...                8.990
29521  f1_fuel_2018_12_12_1_13  ...                1.110
29522  f1_fuel_2018_12_12_1_14  ...               11.680

[29523 rows x 11 columns]

In [48]:
#printing the shape of the dataframe
print('the shape of the dataset is', file.shape, '\n')

the shape of the dataset is (29523, 11)

In [50]:
file.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [51]:
#the fuel type code that has the lowest average fuel_cost_burned_per_unit_delivered

file.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_delivered'].mean()

fuel_type_code_pudl
coal         116.951141
gas           12.095172
nuclear    28616.915039
oil          313.907691
other         16.871485
waste         18.413052
Name: fuel_cost_per_unit_delivered, dtype: float64

In [52]:
a = (file['fuel_qty_burned'].skew())
#in two decimal point
print(round(a,2))

15.85

In [53]:
b = (file['fuel_qty_burned'].kurt())
#in two decimal point
print(round(b,2))

651.37

In [54]:
file.corr(method='kendall')

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...            -0.011386
report_year                           0.046176  ...             0.266284
fuel_qty_burned                      -0.034217  ...            -0.363151
fuel_mmbtu_per_unit                  -0.064722  ...            -0.152250
fuel_cost_per_unit_burned            -0.049750  ...             0.321004
fuel_cost_per_unit_delivered         -0.045562  ...             0.225250
fuel_cost_per_mmbtu                  -0.011386  ...             1.000000

[7 rows x 7 columns]

In [55]:
file.corr(method='pearson')

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [56]:
#the standard deviation of fuel_mmbtu_per_unit
c = (file['fuel_mmbtu_per_unit'].std())
#in two decimal points
print(round(c,2))

10.6

In [ ]:
#the 75th percentile of fuel_mmbtu_per_unit
y = file['fuel_mmbtu_per_unit']
k = np.percentile(y,75)
print (k)
#rounding to two decimal point
print(round(k,2))

In [32]:
#the percentage change in the fuel cost per unit burned in 1998 compared to 1994
data = file.loc[file['fuel_type_code_pudl']=='coal']

#grouping file
group_file = data.groupby('report_year').sum()

#selecting years needed for the analysis
year_1,year_2 = group_file.loc[[1994,1998],'fuel_cost_per_unit_burned']
#perfomimg the percentage change

percentage_change = ((year_2-year_1)/year_1)*100
print(percentage_change)

-20.56765451826049

In [46]:
#checking for missing values
file.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64